@page "/"
<div class="bull-image">
    <img src="logo.png" height="322" width="322" class="bull" />
</div>
<div class="morning">
    Good Morning
</div>
<div class="name">Oliver</div>

<div class="container">

    <a href="Cattle">
        <div class="grid-item brown-button">
            <div class="icon-container">
                <div class="row-icon">
                    <img src="cow.png" width="96" height="79" />

                </div>
                <div class="row-icon-font">
                    Cattle
                </div>
            </div>
        </div>

    </a>

    <div class="grid-item brown-button">
    </div>
    <div class="grid-item brown-button">
    </div>
    <div class="grid-item brown-button">
    </div>





</div>

